@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Marck+Script&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oregano:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Recursive:wght@300..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-*: initial;
    --font-serif-text: "Crimson Pro", serif;
    --font-serif-title: "Oregano", serif;
    --font-Inter: "Inter", sans-serif;
    --font-Script: "Marck Script", sans-serif;
    --font-Bricolage: "Bricolage Grotesque", sans-serif;
    --font-Playfair: "Playfair Display", serif;
    --font-Lora: "Lora", serif;
    --font-News: "Newsreader", serif;
    --font-Recursive: "Recursive", serif;
    --font-Mono: "JetBrains Mono", monospace;
    --font-Caslon: "Libre Caslon Text", serif;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-background-light: var(--background-light);
    --color-foreground: var(--foreground);
    --color-foreground-tag: var(--foreground-tag);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);

    --color-tag-teal-100: var(--tag-teal-100);
    --color-tag-teal-900: var(--tag-teal-900);
    --color-tag-green-100: var(--tag-green-100);
    --color-tag-green-900: var(--tag-green-900);
    --color-tag-blue-100: var(--tag-blue-100);
    --color-tag-blue-900: var(--tag-blue-900);
    --color-tag-yellow-100: var(--tag-yellow-100);
    --color-tag-yellow-900: var(--tag-yellow-900);
    --color-tag-red-100: var(--tag-red-100);
    --color-tag-red-900: var(--tag-red-900);
    --color-tag-purple-100: var(--tag-purple-100);
    --color-tag-purple-900: var(--tag-purple-900);
    --color-tag-orange-100: var(--tag-orange-100);
    --color-tag-orange-900: var(--tag-orange-900);
}

:root {
    font-family: "Bricolage Grotesque", Inter, Avenir, Arial, sans-serif;

    line-height: 1.4;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: oklch(0.986 0.003 68);
    --background-light: oklch(0.989 0.003 49);
    --foreground: oklch(0.2443 0.0038 286.12);
    --foreground-tag: oklch(0.435 0.043 279);

    --primary-100: oklch(0.9543 0.0136 78.26);
    --primary-200: oklch(0.85 0.02 73);
    --primary-700: oklch(0.5707 0.0526 72.67);
    --primary-800: oklch(0.4731 0.0363 74.69);
    --primary-900: oklch(0.339 0.022 56);

    --tag-teal-900: oklch(0.916 0.033 221);
    --tag-teal-100: oklch(0.443 0.071 200);
    --tag-green-900: oklch(96.2% 0.044 156.743);
    --tag-green-100: oklch(44.8% 0.119 151.328);
    --tag-blue-900: oklch(0.865 0.052 265);
    --tag-blue-100: oklch(0.374 0.11 263);
    --tag-yellow-900: oklch(0.949 0.032 76);
    --tag-yellow-100: oklch(0.536 0.109 69);
    --tag-red-900: oklch(0.921 0.024 18);
    --tag-red-100: oklch(0.425 0.137 25);
    --tag-purple-900: oklch(0.842 0.073 316);
    --tag-purple-100: oklch(0.273 0.105 312);
    --tag-orange-900: oklch(0.857 0.05 54);
    --tag-orange-100: oklch(0.404 0.081 49);

    --primary: oklch(0.4731 0.0363 74.69);
    --primary-foreground: oklch(0.985 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    .diamond-bg {
        background-image: radial-gradient(
            circle,
            var(--primary-200) 1px,
            transparent 2px
        );
        background-size: 48px 48px;
    }

    .squiggly-line {
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 12.5 0, 25 10 T 50 10 T 75 10 T 100 10' stroke='%2341352d' fill='transparent' stroke-width='1'/%3E%3C/svg%3E");
        background-repeat: repeat-x;
        height: 20px;
    }
}

.dark {
    --background: oklch(0.2443 0.0038 286.12);
    --background-light: oklch(0.2735 0.0036 286.16);
    --foreground: oklch(0.9459 0.0094 292.79);
    --foreground-tag: oklch(0.914 0.011 280);

    --primary-100: oklch(0.9543 0.0136 78.26);
    --primary-200: oklch(0.8425 0.0382 79.07);
    --primary-700: oklch(0.5707 0.0526 72.67);
    --primary-800: oklch(0.4731 0.0363 74.69);
    --primary-900: oklch(0.339 0.022 56);

    --tag-teal-100: oklch(0.806 0.072 188);
    --tag-teal-900: oklch(0.293 0.025 222);
    --tag-green-100: hsl(143 75.2% 79%);
    --tag-green-900: hsl(145 73.2% 13%);
    --tag-blue-100: oklch(0.795 0.095 264);
    --tag-blue-900: oklch(0.268 0.071 263);
    --tag-yellow-100: oklch(0.856 0.073 86);
    --tag-yellow-900: oklch(0.3 0.026 74);
    --tag-red-100: oklch(0.801 0.091 10);
    --tag-red-900: oklch(0.288 0.042 15);
    --tag-purple-100: oklch(0.833 0.07 315);
    --tag-purple-900: oklch(0.273 0.105 312);
    --tag-orange-100: oklch(0.811 0.067 53);
    --tag-orange-900: oklch(0.29 0.026 54);

    --primary: oklch(0.8425 0.0382 79.07);
    --primary-foreground: oklch(0.205 0 0);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

    .diamond-bg {
        background-image: radial-gradient(
            circle,
            var(--primary-900) 1px,
            transparent 2px
        );
        background-size: 48px 48px;
    }

    .squiggly-line {
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 Q 12.5 0, 25 10 T 50 10 T 75 10 T 100 10' stroke='%23d6ccc0' fill='transparent' stroke-width='1'/%3E%3C/svg%3E");
        background-repeat: repeat-x;
        height: 20px;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@keyframes fadeSlideUp {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-fade-slide-up {
    animation: fadeSlideUp 0.4s ease-out forwards;
}
